img {
	width:  200px;
	height: 100%;
}
.price {
	font-weight: bold;
	font-size: 2rem;
	color: orange;
}
.OneButter h2{
	min-height: 75px;
	max-width: 250px;
	margin: 1em;
}
.description{
	min-height: 100px;
	width: 300px;
	max-width: 300px;
	text-align: center;
}