.nav-body {
    background-color: #262626;
    position: sticky;
    z-index: 1;
    top: 0;
}
.nav-body li {
    list-style: none;
}
.nav-body a {
    color: white;
    text-decoration: none;
}
.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}
.nav-logo {
    font-size: 2rem;
    text-transform: uppercase;
}
.nav-logo img {
    width: auto;
    height: 55px;
}
.nav-menu {
    display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 60px;
}
.nav-link {
    transition: 0.6s;
}
.nav-link:hover {
    color: greenyellow;
}
.hamburger {
    display: none;
    cursor: pointer;
}
.bar{
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	background-color: white;
}
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
        position: fixed;
		left: -100%;
		top: 53px;
		gap: 5;
		flex-direction: column;
		background-color: #262626;
		width: 100%;
		text-align: center;
		transition: 0.7s;
        padding: 15px;
    }
    .nav-menu.active {
        left: 0;
    }
}